<h2>
    Weather Forecast
</h2>

<ul *ngFor="let temp of temperatures">
    <h3>Date: {{temp.startTime | date}}</h3>
    <span>Time of the Day: {{temp.isDaytime? 'Day Time' : 'Night Time'}}</span><br/>
    <span>
        Temperature: {{temp.temperature}} {{temp.temperatureUnit}}
    </span><br/>
    <img src="{{temp.icon}}"><br/>
    <span>
        Forecast details: {{temp.detailedForecast}}
    </span><br/>
</ul>


<h2>WeatherForeCast From OpenAPI</h2>

<ul>
    <p>City: {{forecastFromOpenAPI.city}}</p>
    <p>
        Country: {{forecastFromOpenAPI.country}}
    </p>
    <p *ngFor="let rec of forecastFromOpenAPI.weatherRecords">
        <span>Date Time: {{rec.dateTime}}</span><br/>
        <span>Description: {{rec.description}}</span><br/>
        <span>Current Temperature: {{rec.currTemperature}} F</span><br/>
        <span>Feels Like Temperature: {{rec.feelsLike}} F</span><br/>
        <span>Minimum Temperature: {{rec.minTemperature}} F</span><br/>
        <span>Maximum Temperature: {{rec.maxTemperature}} F</span><br/>
    </p>
</ul>